.wrapper {
    overflow: hidden;
}
.wrapper::after {
    content: "";
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
.slot-disc {
    top: 0;
}
.disc-symbol {
    font-size: -webkit-xxx-large;
}
