.wrapper {
    overflow: hidden;
    height: var(--height);
}
.wrapper::after {
    content: "";
    top: var(--top);
    left: var(--left);
    width: var(--width);
    height: var(--height);
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
.slot-disc {
    top: 0;
}
.disc-symbol {
    font-size: -webkit-xxx-large;
}
